<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBPhBfccPt_2SWxAjPHypaqG9seO_qDpXk</string>
	<key>GCM_SENDER_ID</key>
	<string>694046400687</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.nebwintech.duwunkyal</string>
	<key>PROJECT_ID</key>
	<string>duwunkyal-3139d</string>
	<key>STORAGE_BUCKET</key>
	<string>duwunkyal-3139d.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:694046400687:ios:207e6289075ff0afdb745a</string>
</dict>
</plist>